.area-chart {
  overflow: visible; }
  .area-chart__tooltip {
    position: relative;
    pointer-events: none; }
    .area-chart__tooltip-group {
      pointer-events: none; }
    .area-chart__tooltip--active .area-chart__content,
    .area-chart__tooltip--active .area-chart__container,
    .area-chart__tooltip--active .area-chart__arrow {
      background: #4eab98;
      color: white; }
  .area-chart__circle-group {
    pointer-events: none; }
  .area-chart__container {
    display: flex;
    border-radius: 4rem;
    width: 54px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: white; }
  .area-chart__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    z-index: 2;
    background: #919191; }
  .area-chart__arrow {
    position: absolute;
    left: 20px;
    top: 14px;
    transform: rotate(45deg);
    flex-shrink: 0;
    border-top: 0;
    border-left: 0;
    content: "";
    height: 15px;
    width: 15px;
    background: #919191; }

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%; }

body {
  display: flex;
  align-items: center;
  flex-direction: column; }

.title {
  color: white;
  padding: 1rem; }

.description {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column; }

.main__content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.container {
  width: 60%; }
  @media (max-width: 600px) {
    .container {
      width: 90%; } }

.chart {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .chart__title {
    color: white; }
  .chart__content {
    width: 100%; }

.bar-chart {
  overflow: visible; }
  .bar-chart__tooltip {
    position: relative;
    pointer-events: none; }
    .bar-chart__tooltip--active .bar-chart__content,
    .bar-chart__tooltip--active .bar-chart__container,
    .bar-chart__tooltip--active .bar-chart__arrow {
      background: #4eab98;
      color: white; }
  .bar-chart__circle-group {
    pointer-events: none; }
  .bar-chart__container {
    display: flex;
    border-radius: 4rem;
    border: 1px solid #4eab98;
    width: 54px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #00cba6;
    background: black; }
  .bar-chart__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    z-index: 2;
    background: black; }
  .bar-chart__arrow {
    position: absolute;
    left: 20px;
    top: 14px;
    transform: rotate(45deg);
    flex-shrink: 0;
    border: 1px solid #4eab98;
    border-top: 0;
    border-left: 0;
    content: "";
    height: 15px;
    width: 15px;
    background: black; }

.horizontal-bar-chart {
  overflow: visible; }
  .horizontal-bar-chart__tooltip {
    position: relative;
    pointer-events: none; }
    .horizontal-bar-chart__tooltip--active .horizontal-bar-chart__content,
    .horizontal-bar-chart__tooltip--active .horizontal-bar-chart__container {
      background: #4eab98;
      color: white; }
    .horizontal-bar-chart__tooltip--active .horizontal-bar-chart__arrow:after {
      border-right: 18px solid #4eab98; }
  .horizontal-bar-chart__circle-group {
    pointer-events: none; }
  .horizontal-bar-chart__container {
    display: flex;
    border-radius: 4rem;
    border: 1px solid #4eab98;
    width: 54px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #00cba6;
    background: black; }
  .horizontal-bar-chart__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    z-index: 2;
    background: black; }
  .horizontal-bar-chart__arrow {
    position: absolute;
    left: -8px;
    top: 3px;
    flex-shrink: 0;
    border-top: 0;
    border-right: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #4eab98;
    border-bottom: 10px solid transparent; }
  .horizontal-bar-chart__arrow:after {
    position: absolute;
    left: 2px;
    top: -9px;
    flex-shrink: 0;
    border-top: 0;
    border-right: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 18px solid black;
    border-bottom: 9px solid transparent; }


/*# sourceMappingURL=/src.e31bb0bc.css.map */