html,
body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
  padding: 1rem;
}

.description {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 60%;

  @media (max-width: 600px) {
    width: 90%;
  }
}

.chart {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    color: white;
  }

  &__content {
    width: 100%;
  }
}
